<?xml version="1.0"?>
<!--
/**
 * Location: magento2_root/app/code/Vendorname/Extensionname/etc/adminhtml/system.xml
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="example_tab" translate="label" sortOrder="1000">
            <label>Basicphp</label>
        </tab>
        <section id="easyads_section" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>EasyAds</label>
            <tab>example_tab</tab>
            <resource>Basicphp_EasyAds::config</resource>
            <group id="left" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Banner Left</label>

                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Basicphp\EasyAds\Model\Config\Source\Custom</source_model>
                </field>
                <field id="top" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Top Position</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                    <comment><![CDATA[Allowed file types: jpeg, gif, png.]]></comment>
                </field>
                <!--<field id="source" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">-->
                    <!--<label>Image Source</label>-->
                    <!--<depends>-->
                        <!--<field id="*/*/enable">1</field>-->
                    <!--</depends>-->
                <!--</field>-->
                <field id="source" translate="label" type="image" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">easyads</upload_dir>
                    <base_url type="media" scope_info="1">easyads</base_url>
                    <comment><![CDATA[Allowed file types: jpeg, gif, png.]]></comment>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Banner Url</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="right" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Banner Right</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Basicphp\EasyAds\Model\Config\Source\Custom</source_model>
                </field>
                <field id="top" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Top Position</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <!--<field id="source" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">-->
                    <!--<label>Image Source</label>-->
                    <!--<depends>-->
                        <!--<field id="*/*/enable">1</field>-->
                    <!--</depends>-->
                <!--</field>-->
                <field id="source" translate="label" type="image" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">easyads</upload_dir>
                    <base_url type="media" scope_info="1">easyads</base_url>
                    <comment><![CDATA[Allowed file types: jpeg, gif, png.]]></comment>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>

                <field id="url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Banner Url</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>